
{% extends 'base.html.twig' %}

{% block title %}About Us || SIM3D{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
<!-- Title Icon -->
<link rel="icon" href="title.png" type="image/icon type">
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/bootstrap/bootstrap.min.css')}}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/themify-icons/themify-icons.css')}}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/slick/slick.css')}}">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/Venobox/venobox.css')}}">
  <!-- aos -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/aos/aos.css')}}">

  <!--Favicon-->
  <link rel="shortcut icon" href="{{asset('assets1/img/favicon.ico')}}" type="image/x-icon">
  <link rel="icon" href="{{asset('assets1/img/favicon.ico')}}" type="image/x-icon">
    <!-- Favicons -->
    <link href="{{ asset('assets1/img/favicon.png') }}" rel="icon">
    <link href="{{ asset('assets1/img/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{ asset('assets1/vendor/aos/aos.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets1/vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ asset('assets1/css/style.css') }}" rel="stylesheet">

</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('assets1/img/logo.png')}}" alt="logo"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse text-center" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="service.php">Programs</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('product')}}">Products</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('about')}}">About Us</a>

          </li>

           
          <li class="nav-item">
            <a class="nav-link" href="{{path('contact')}}" >Contact Us</a>
          </li>
{% if app.user %}
          <li class="nav-item">
          <div class="dropdown show">
  <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <img src="{{asset('assets1/img/account.png')}}" width="38" alt="logo" title="{{ app.user.username }}">
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" >User: {{ app.user.username }}</a>
    <a class="dropdown-item" href="{{path('app_logout')}}">Log Out</a>
  </div>
</div>
            </li>
            {% else %}
 <li class="nav-item">
          <div class="dropdown show">
  <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Log In
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{path('app_login')}}">Log In</a>
    <a class="dropdown-item" href="{{path('register')}}">Register </a>
  </div>
</div>
            </li>

        </ul>
            {% endif %}

        
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- about us -->
<section class="section-lg about pb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title">About us</h2>
      </div>
      <div class="col-lg-12 mb-100">
        <p>SIM3D is a Tunisian company specializing in mechanical engineering services,FEA and CFD analysis services, <br>
          and prototype design and manufacturing, whose
           core business is design and numerical simulation. </p>
<p>
          We support our customers in their product development cycle, from the R&D phase to<br>
           the validation phase. Our services are particularly suited to projects with high technological content.</p>
          
       <p>   We operate in a wide range of industries such as energy, piping, metal construction, automotive and aerospace.</p>
       
      </div>
      <div class="col-lg-12">
        <!-- about video -->
        <div class="about-video">
          <img class="img-fluid w-100" src="{{asset('assets1/img/about/link-thumb.jpg')}}" alt="video-thumb" id="vid">
          <a class="venobox play-btn" href="{{asset('assets1/img/about/about.mp4')}}" data-vbtype="iframe"><i class="ti-control-play"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="{{asset('assets1/img/background-shape/green-dot.png')}}" alt="background-shape" class="about-bg-1 up-down-animation">
  <img src="{{asset('assets1/img/background-shape/blue-dot.png')}}" alt="background-shape" class="about-bg-2 left-right-animation">
  <img src="{{asset('assets1/img/background-shape/green-half-cycle.png')}}" alt="background-shape" class="about-bg-3 up-down-animation">
  <img src="{{asset('assets1/img/background-shape/seo-ball-1.png')}}" alt="background-shape" class="about-bg-4 left-right-animation">
  <img src="{{asset('assets1/img/background-shape/team-bg-triangle.png')}}" alt="background-shape" class="about-bg-5 up-down-animation">
  <img src="{{asset('assets1/img/background-shape/service-half-cycle.png')}}" alt="background-shape" class="about-bg-6 left-right-animation">
</section>
<!-- /about us -->


  <!-- our vision -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title">Our Vision</h2>
        <p>Far far away, behind the word mountains,
          far from the countries Vokalia and Consonantia,
          there live the blind texts. Separated they
          live in Bookmarksgrove right at the coast of the
          Semantics, a large language ocean.</p>
      </div>
      <div class="col-md-6">
        <img src="{{asset('assets1/img/about/vision.png')}}" alt="vision" class="img-fluid w-100">
      </div>
    </div>
  </div>
</section>
<!-- /our vision -->

<!-- clients -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Partners</h2>
        <ul class="list-inline text-center">
          <li class="list-inline-item mx-5 mb-5"><a href="https://www.mastercam.com/"><img src="{{asset('assets1/img/clients-logo/part.png')}}" id="master" alt="clients-logo" class="img-fluid"></a></li>
         
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /clients -->
</section>
<!-- /product -->



<!-- footer -->
<footer class="footer-section footer" style="background-image: url({{asset('assets1/img/backgrounds/footerbg.png')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a href="{{path('home')}}">
          <img class="img-fluid" src="{{asset('assets1/img/logo.png')}}" alt="logo">
        </a>
      </div>
    <!-- footer menu -->
    <nav class="col-lg-8 align-self-center mb-5">
      <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="{{path('home')}}">Home</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="service.php">Programs</a></li>
          <li class="list-inline-item"><a href="{{path('product')}}">Products</a></li>
          <li class="list-inline-item"><a href="{{path('about')}}">About Us</a></li>
          <li class="list-inline-item"><a href="{{path('contact')}}">Contact Us</a></li>
      </ul>
    </nav>
  <!-- footer social icon -->
  <nav class="col-12">
    <ul class="list-inline text-lg-right text-center social-icon">
      <li class="list-inline-item">
        <a class="facebook" href="#"><i class="ti-facebook"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="linkedin" href="https://www.linkedin.com/company/sim3d/"><i class="ti-linkedin"></i></a>
      </li>
      <li class="list-inline-item">
        <a class="black" href="https://sim3d-engineering.com/"><i class="ti-world"></i></a>
      </li>
    </ul>
  </nav>
</div>
</div>
</footer>
<!-- /footer -->

<!-- Template Main JS File -->
<script src="{{asset('assets1/plugins/jQuery/jquery.min.js')}}"></script>
<!-- Bootstrap JS -->
<script src="{{asset('assets1/plugins/bootstrap/bootstrap.min.js')}}"></script>
<!-- slick slider -->
<script src="{{asset('assets1/plugins/slick/slick.min.js')}}"></script>
<!-- venobox -->
<script src="{{asset('assets1/plugins/Venobox/venobox.min.js')}}"></script>
<!-- aos -->
<script src="{{asset('assets1/plugins/aos/aos.js')}}"></script>
<!-- Main Script -->
<script src="{{asset('assets1/js/script.js')}}"></script>
</body>
</html>
{% endblock %}
