{% extends 'base.html.twig' %}

{% block title %}SIM3D |Artificial Intelligence{% endblock %}

{% block body %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  
  <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/bootstrap/bootstrap.min.css')}}">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/themify-icons/themify-icons.css')}}">
  <!-- slick slider -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/slick/slick.css')}}">
  <!-- venobox popup -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/Venobox/venobox.css')}}">
  <!-- aos -->
  <link rel="stylesheet" href="{{asset('assets1/plugins/aos/aos.css')}}">

  <!-- Main Stylesheet -->
    <link href="{{ asset('assets1/css/style.css') }}" rel="stylesheet">
  <!--Favicon-->
  <link rel="shortcut icon" href="{{asset('assets1/img/favicon.ico')}}" type="image/x-icon">
  <link rel="icon" href="{{asset('assets1/img/favicon.ico')}}" type="image/x-icon">

</head>

<body>
  

<!-- navigation -->
<section class="fixed-top navigation">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{path('home')}}"><img src="{{asset('assets1/img/logo.png')}}" alt="logo" width="141"></a>
      <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- navbar -->
      <div class="collapse navbar-collapse text-center" id="navbar">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="service.php">Programs</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('product')}}">Products</a>

          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('about')}}">About Us</a>

          </li>

           
          <li class="nav-item">
            <a class="nav-link" href="{{path('contact')}}" >Contact Us</a>
          </li>
{% if app.user %}
          <li class="nav-item">
          <div class="dropdown show">
  <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  <img src="{{asset('assets1/img/account.png')}}" width="38" alt="logo" title="{{ app.user.username }}">
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" >User: {{ app.user.username }}</a>
    <a class="dropdown-item" href="{{path('app_logout')}}">Log Out</a>
  </div>
</div>
            </li>
            {% else %}
 <li class="nav-item">
          <div class="dropdown show">
  <a class="nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Log In
  </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="{{path('app_login')}}">Log In</a>
    <a class="dropdown-item" href="{{path('register')}}">Register </a>
  </div>
</div>
            </li>

        </ul>
            {% endif %}

        
      </div>
    </nav>
  </div>
</section>
<!-- /navigation -->

<!-- hero area -->
<section class="hero-section hero" data-background="" style="background-image: url({{asset('assets1/img/hero-area/bannerbg1.png')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center zindex-1">
        <h1 class="mb-3">​We believe in a future <br>
          where computing machines improve our lives.</h1>
        <p class="mb-4">Together, We Make Succesful Solutions.<br>
          </p>
        <a href="{{path('contact')}}" class="btn btn-secondary btn-lg">Contact Us</a>
        <!-- banner image -->
        <img class="img-fluid w-100 banner-image" src="{{asset('assets1/img/hero-area/kk.jpg')}}" alt="banner-img">
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <div id="scene">
    <img class="img-fluid hero-bg-1 up-down-animation" src="{{asset('assets1/img/background-shape/feature-bg-2.png')}}" alt="">
    <img class="img-fluid hero-bg-2 left-right-animation" src="{{asset('assets1/img/background-shape/seo-ball-1.png')}}" alt="">
    <img class="img-fluid hero-bg-3 left-right-animation" src="{{asset('assets1/img/background-shape/seo-half-cycle.png')}}" alt="">
    <img class="img-fluid hero-bg-4 up-down-animation" src="{{asset('assets1/img/background-shape/green-dot.png')}}" alt="">
    <img class="img-fluid hero-bg-5 left-right-animation" src="{{asset('assets1/img/background-shape/blue-half-cycle.png')}}" alt="">
    <img class="img-fluid hero-bg-6 up-down-animation" src="{{asset('assets1/img/background-shape/seo-ball-2.png')}}" alt="">
    <img class="img-fluid hero-bg-7 left-right-animation" src="{{asset('assets1/img/background-shape/yellow-triangle.png')}}" alt="">
    <img class="img-fluid hero-bg-8 up-down-animation" src="{{asset('assets1/img/background-shape/service-half-cycle.png')}}" alt="">
    <img class="img-fluid hero-bg-9 up-down-animation" src="{{asset('assets1/img/background-shape/team-bg-triangle.png')}}" alt="">
  </div>
</section>
<!-- /hero-area -->

<!-- feature -->
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<section class="section feature mb-0" id="feature">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our Features</h2>
        <p class="mb-100">We offer better features.</p>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-ruler-pencil feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Better Performance</h4>
  
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layout-cta-left feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Easy Customize</h4>
            <p>Consectetur adipiscing elit donec tempus
              pellentesque dui.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-split-v-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Fast</h4>
            <p>Consectetur adipiscing elit donec tempus
              pellentesque dui.</p>
          </div>
        </div>
      </div>
      <!-- feature item -->
      <div class="col-md-6 mb-80">
        <div class="d-flex feature-item">
          <div>
            <i class="ti-layers-alt feature-icon mr-4"></i>
          </div>
          <div>
            <h4>Better</h4>
            <p>Consectetur adipiscing elit donec tempus
              pellentesque dui.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="feature-bg-1 up-down-animation" src="{{asset('assets1/img/background-shape/feature-bg-1.png')}}" alt="bg-shap">
  <img class="feature-bg-2 left-right-animation" src="{{asset('assets1/img/background-shape/feature-bg-2.png')}}" alt="bg-shape">
</section>
<!-- /feature -->

<!-- marketing -->
<section class="section-lg seo">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="seo-image">
          <img class="img-fluid" id="caip" src="{{asset('assets1/img/marketing/CAIP.png')}}" alt="form-img">
        </div>
      </div>
      <div class="col-md-5">
        <h2 class="section-title">Machine Learning</h2>
        <p>We offer a study of computer algorithms that can improve automatically through experience and by the use of data.
        </p>
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid seo-bg" src="{{asset('assets1/img/backgrounds/seobg.png')}}" alt="seo-bg">
  <!-- background-shape -->
  <img class="seo-bg-shape-1 left-right-animation" src="{{asset('assets1/img/background-shape/seo-ball-1.png')}}" alt="bg-shape">
  <img class="seo-bg-shape-2 up-down-animation" src="{{asset('assets1/img/background-shape/seo-half-cycle.png')}}" alt="bg-shape">
  <img class="seo-bg-shape-3 left-right-animation" src="{{asset('assets1/img/background-shape/seo-ball-2.png')}}" alt="bg-shape">
</section>
<!-- /marketing -->

<!-- service -->
<section class="section-lg service">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-5 order-2 order-md-1">
        <h2 class="section-title">Deep Learning</h2>
        <p class="mb-4">We offer machine learning methods based on artificial neural networks with representation learning.</p>
       
      </div>
      <div class="col-md-7 order-1 order-md-2">
        <img class="img-fluid layer-3" id="caip" src="{{asset('assets1/img/service/DL.png')}}" alt="service">
      </div>
    </div>
  </div>
  <!-- background image -->
  <img class="img-fluid service-bg" src="{{asset('assets1/img/backgrounds/servicebg.png')}}" alt="service-bg">
  <!-- background shapes -->
  <img class="service-bg-shape-1 up-down-animation" src="{{asset('assets1/img/background-shape/service-half-cycle.png')}}" alt="background-shape">
  <img class="service-bg-shape-2 left-right-animation" src="{{asset('assets1/img/background-shape/feature-bg-2.png')}}" alt="background-shape">
</section>
<!-- /service -->


  <!-- backgound image -->
  <img src="{{asset('assets1/img/backgrounds/team-bg.png')}}" alt="team-bg" class="img-fluid team-bg">
  <!-- background shapes -->
  <img class="team-bg-shape-1 up-down-animation" src="{{asset('asset1/img/background-shape/seo-ball-1.png')}}" alt="background-shape">
  <img class="team-bg-shape-2 left-right-animation" src="{{asset('asset1/img/background-shape/seo-ball-1.png')}}" alt="background-shape">
  <img class="team-bg-shape-3 left-right-animation" src="{{asset('asset1/img/background-shape/team-bg-triangle.png')}}" alt="background-shape">
  <img class="team-bg-shape-4 up-down-animation img-fluid" src="{{asset('asset1/img/background-shape/team-bg-dots.png')}}" alt="background-shape">
</section>


<!-- Location -->
<section class="section-lg pb-0 pricing" id="pricing">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-title">Our location</h2>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1514.6761940489355!2d10.183635324272332!3d36.89062481568473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc05333fa187980ae!2zMzbCsDUzJzI4LjciTiAxMMKwMTEnMDYuNiJF!5e1!3m2!1sen!2stn!4v1642864045770!5m2!1sen!2stn" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy" id="map"></iframe>
          <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
          
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img class="pricing-bg-shape-1 up-down-animation" src="{{asset('assets1/img/background-shape/seo-ball-1.png')}}" alt="background-shape">
  <img class="pricing-bg-shape-2 up-down-animation" src="{{asset('assets1/img/background-shape/seo-half-cycle.png')}}" alt="background-shape">
  <img class="pricing-bg-shape-3 left-right-animation" src="{{asset('assets1/img/background-shape/team-bg-triangle.png')}}" alt="background-shape">
</section>
<!-- /pricing -->

<!-- client logo slider -->
<section class="section">
  <div class="container">
      <div class="client-logo-slider align-self-center">
          <a href="#" class="text-center d-block outline-0 p-5"><img class="d-unset img-fluid" src="{{asset('assets1/img/clients-logo/part.png')}}" alt="client-logo" height="150" width="300"></a>
      </div>
  </div>
</section>

  <!-- background shapes -->
  <img class="newsletter-bg-shape left-right-animation" src="{{asset('asset1/img/background-shape/seo-ball-2.png')}}" alt="background-shape">
</section>
<!-- /newsletter -->
    <!-- footer -->
<footer class="footer-section footer" style="background-image: url({{asset('assets1/img/backgrounds/footerbg.png')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 text-center text-lg-left mb-4 mb-lg-0">
        <!-- logo -->
        <a href="{{path('home')}}">
          <img class="img-fluid" src="{{asset('assets1/img/logo.png')}}" alt="logo">
        </a>
      </div>
      <!-- footer menu -->
    <nav id="navbar" class="navbar nav-menu">
        <ul class="list-inline text-lg-right text-center footer-menu">
          <li class="list-inline-item active"><a href="{{ path('home') }}">Home</a></li>
          <li class="list-inline-item"><a class="page-scroll" href="service.php">Programs</a></li>
          <li class="list-inline-item"><a href="{{path('product')}}">Products</a></li>
          <li class="list-inline-item"><a href="{{path('about')}}">About Us</a></li>
          <li class="list-inline-item"><a href="{{ path('contact') }}">Contact Us</a></li>
          <li class="list-inline-item">
           <a href="https://sim3d-engineering.com/"  class="btn btn-primary ml-lg-3 primary-shadow">official site</a>
          </li>

        </ul>
      </nav>
      <!-- footer social icon -->
      <nav class="col-12">
        <ul class="list-inline text-lg-right text-center social-icon">
          <li class="list-inline-item">
            <a class="facebook" href="#"><i class="ti-facebook"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="linkedin" href="https://www.linkedin.com/company/sim3d/"><i class="ti-linkedin"></i></a>
          </li>
          <li class="list-inline-item">
            <a class="black" href="https://sim3d-engineering.com/"><i class="ti-world"></i></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
<!-- /footer -->

<!-- jQuery -->


    </div>
</footer><!-- End Footer -->


<!-- Template Main JS File -->
<script src="{{asset('assets1/plugins/jQuery/jquery.min.js')}}"></script>
<!-- Bootstrap JS -->
<script src="{{asset('assets1/plugins/bootstrap/bootstrap.min.js')}}"></script>
<!-- slick slider -->
<script src="{{asset('assets1/plugins/slick/slick.min.js')}}"></script>
<!-- venobox -->
<script src="{{asset('assets1/plugins/Venobox/venobox.min.js')}}"></script>
<!-- aos -->
<script src="{{asset('assets1/plugins/aos/aos.js')}}"></script>
<!-- Main Script -->
<script src="{{asset('assets1/js/script.js')}}"></script>

</body>
</html>

    {% endblock %}

